{
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": [
                "*.html"
            ],
            "options": {
                "printWidth": 150
            }
        }
    ]
}