### copy this file as `env.local` and edit its parameters ###

# Path to the local folder that will store files
export LOCAL_PATH="path/to/figma-data"

# Remote path (in rclone-compatible format)
export REMOTE_PATH="S3:my-bucket/path/to/figma-data"

# Local Git checkout path to synchronize data with
export GIT_LOCAL="path/to/figma-git"

# Serge configuration file that is used to pull/push Git changes
SERGE_CONFIG="path/to/figma.serge"
