### copy this file as `env.local` and edit its parameters ###

# Path to the local folder that will store files
export LOCAL_PATH="path/to/figma-data"

# Remote path (in rclone-compatible format)
export REMOTE_PATH="S3:my-bucket/path/to/figma-data"

# URL of the local Figma server
export FIGMA_SERVER="http://localhost:12345"
